/* Grid Column For 992px Screen Size */

.col-lg-1 {
  width: 8.33%;
}
.col-lg-2 {
  width: 16%;
}
.col-lg-3 {
  width: 25%;
}
.col-lg-4 {
  width: 32.5%;
}
.col-lg-5 {
  width: 41.67%;
}
.col-lg-6 {
  width: 50%;
}
.col-lg-7 {
  width: 58.35%;
}
.col-lg-8 {
  width: 66.67%;
}
.col-lg-9 {
  width: 75%;
}
.col-lg-10 {
  width: 83.33%;
}
.col-lg-11 {
  width: 91.67%;
}
.col-lg-12 {
  width: 100%;
}

/* Header Desing Start */
.logo-div {
  text-align: left;
  padding-left: 40px;
}

nav {
  text-align: right;
}
/* Header Desing Start */

/* Banner Design Start */
#banner {
  height: 90vh;
  position: relative;
}

.banner-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.banner-content h1 {
  width: 900px;
  font-size: 3.5rem;
}

.banner-content p {
  font-size: 1.8rem;
}

.banner-content .btn {
  font-size: 1.5rem;
}
/* Banner Design End */

/* Footer Design Start */
footer p {
  text-align: left;
}

.footer-menu {
  text-align: right;
}
/* Footer Design End */
